@model BigSchool.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các khoá học</h2>

<ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        if (course.isShowFollow)
                        {
                            <button data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-togegle-follow">Follow</button>
                        }
                        else
                        {
                            <button data-user-id="@course.LecturerId" class="btn btn-success btn-sm js-togegle-follow">Following</button>
                        }
                    }

                </span>
                <span class="category">
                    @course.Category.Name
                    @if (Model.ShowAction)
                    {
                        if (course.isShowGoing)
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-togegle-attendance">Going?</button>
                        }
                        else
                        {
                            <button data-course-id="@course.Id" class="btn btn-info btn-sm js-togegle-attendance">Going</button>
                        }

                    }
                </span>


            </div>
        </li>

    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-togegle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/Attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "/api/Attendances/" + button.attr("data-course-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going?");
                        })
                        .fail(function () {
                            alert("Something failed 2!");
                        });
                }

            });

            $(".js-togegle-follow").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-link")) {
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button
                                .removeClass("btn-link")
                                .addClass("btn-success")
                                .text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "/api/followings/" + button.attr("data-user-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-success")
                                .addClass("btn-link")
                                .text("Follow");
                        })
                        .fail(function () {
                            alert("Something failed 2!");
                        });
                }

            })
        });
    </script>
}
